{% extends 'base.html.twig' %}

{% block title %}Carnaúba | Controle de Eventos{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Controle de Eventos</h1>
    <a href="/event/create">Incluir</a>
    <table>
            <thead>
                    <tr>
                        <th>Início</th>
                        <th>Fim</th>
                        <th>Nome</th>
                        <th>Local</th>
                        <th colspan="2">Ações</th>
                    </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.getInitialDate() | date('Y/m/d') }}</td>
                        <td>{{ event.getFinalDate() | date('Y/m/d') }}</td>
                        <td>{{ event.name}}</td>
                        <td>{{ event.local}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

</div>
{% endblock %}