{% extends 'base.html.twig' %}

{% block body %}

<section class="content-header">
    <h1>
        Carnaúba  <small>Sistema de apoio a eventos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Início</a></li>
        <li class="active">Painel inicial</li>
    </ol>
</section>

<div class="container">

    <div class="col-md-12">
            <h1>Funcionalidades iniciais:</h1>
    </div>
    
    <ul>
        <li><code>admin: checkin de participantes</code></li>
        <li><code>admin: sorteio eletrônico</code></li>
        <li><code>public: emissão de certificados</code></li>
    </ul>
    
</div>
{% endblock %}
